@font-face {
    font-family: "comfortaa";
    src: url(./fonts.css/confortaa-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "comfortaa";
    src: url(./fonts.css/confortaa-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "montserrat";
    src: url(./fonts.css/confortaa-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "montserrat";
    src: url(./fonts.css/confortaa-regular.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "roboto";
    src: url(./fonts.css/roboto-regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "roboto";
    src: url(./fonts.css/roboto-medium.ttf);
    font-weight: 500;
}